{% extends "layout.html" %}

{% block title %}Items{% endblock %}

{% block body %}

<h1>Add an item</h1>

<!-- add item to the list -->
<form action="/add_items" method="post" class="d-flex-column">
    <input class="form-control mx-auto w-auto mb-2" autocomplete="off" name="name" type="text" placeholder="Name of item">
    <input class="form-control mx-auto w-auto mb-2" autocomplete="off" name="brand" type="text" placeholder="Brand">
    <input class="form-control mx-auto w-auto mb-2" autocomplete="off" name="shop" type="text" placeholder="Shop">
    <input class="form-control mx-auto w-auto mb-2" name="price" type="number" step="0.01" min="0" placeholder="Price">
    <button class="btn btn-primary mb-5" type="submit">Add to database</button>
    
</form>

<h3>Items in database</h3>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Brand</th>
        <th>Shop</th>
        <th>Price</th>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.shop }}</td>
                <td>
                    <form class="d-flex" action="/update">
                    <input type="hidden" name="update" value="{{ item.id }}">
                    <input class="form-control mx-2 text-end" type="text" name="price_update" value='{{ "%.2f"|format(item.price) }}'>
                    <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}