{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

<h1 class="text-center brand">Shoppr</h1>
<h2>Register for a free account</h2>

<form action="/register" method="post">
    <input autofocus class="form-control mx-auto w-auto mb-2" type="text" name="user" id="user" placeholder="User">
    <input class="form-control mx-auto w-auto mb-2" type="password" name="password" id="password" placeholder="Password">
    <input class="form-control mx-auto w-auto mb-2" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">
    <button class="btn btn-primary">Register</button>
</form>

{% endblock %}